:root {
	--clr-accent: hsl(40, 100%, 50%);
	--clr-accent-dark: hsl(40, 100%, 40%);
	--clr-primary-light-100: hsl(0, 0%, 70%);
	--clr-primary-light-200: hsl(0, 0%, 50%);
	--clr-primary-light-300: hsl(0, 0%, 40%);
	--clr-primary-light-400: hsl(0, 0%, 30%);
	--clr-primary-light: hsl(0, 0%, 20%);
	--clr-primary: hsl(0, 0%, 15%);
	--clr-primary-dark: hsl(0, 0%, 12%);
	--clr-light: hsl(0, 0%, 100%);

	--ff-primary: "Montserrat", sans-serif;
	--ff-accent: "Lato", sans-serif;

	--fs-h1: 2em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--clr-primary);
	font-family: var(--ff-primary);
	color: var(--clr-light);
	display: grid;
	place-items: center;
	gap: 1em;
	min-height: 100vh;
}

::selection {
	background-color: var(--clr-accent);
}

/* SECTION MAIN */

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 1em 2em;
	background-color: var(--clr-primary-dark);
	border-radius: 1em;
}

.section__title {
	font-size: var(--fs-h1);
	letter-spacing: 0.05em;
}

.logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logos__icons {
	position: relative;
	cursor: pointer;
}

.logos__icons:hover .logo--cloud {
	opacity: 0.75;
}

.logo {
	--size: 4em;
	margin: 0;
	padding: 0;
	width: var(--size);
	height: var(--size);
}

@keyframes sunAnimation {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes sunAnimationRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.logo--sun {
	fill: var(--clr-accent);
	animation: sunAnimation 5s ease-in-out infinite,
		sunAnimationRotate 30s linear infinite;
}

.logo--moon {
	fill: white;
	display: none;
}

@keyframes cloudAnimation {
	0% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-50%);
	}
	66% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0);
	}
}

.logo--cloud {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	fill: gray;
	animation: cloudAnimation 20s ease-in-out infinite;
	transition: opacity 150ms;
}

.logos__title {
	margin: 0.25em 0.75em;
	text-shadow: 2px 2px 0px var(--clr-accent-dark);
	font-size: var(--fs-h1);
	letter-spacing: 0.05em;
}

.form {
	display: flex;
}

.form__input {
	padding: 0.375em 0.75em;
	background-color: var(--clr-primary-light);
	border-radius: 0.5em;
	border: none;
	outline: none;
	color: var(--clr-light);
	font-family: var(--ff-primary);
	font-size: 1em;
	transition: background-color 150ms ease-in-out;
}

.form__input:hover,
.form__input:focus,
.form__submit:hover {
	background-color: var(--clr-primary-light-400);
}

.form__submit {
	margin-left: 0.5em;
	padding: 0.375em 0.75em;
	background-color: var(--clr-primary-light);
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.form__icon {
	width: 100%;
	height: 100%;
	fill: var(--clr-light);
}

.fade-in {
	animation: fadeIn 150ms ease-in-out forwards;
}

.fade-out {
	animation: fadeOut 150ms ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

[data-hidden="true"] {
	display: none;
}

.search-error {
	font-size: 1.5em;
	font-weight: 500;
	margin: 2rem 0 0 0;
}

/* SECTION CURRENT WEATHER */

.section--current {
	animation: showCard 300ms ease-in-out forwards;
}

@keyframes showCard {
	from {
		transform: translateY(5%);
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

.current__temperature {
	margin: 1em;
	display: flex;
	align-items: flex-start;
}

.temp__value {
	margin: 0;
	line-height: 80%;
	font-size: 4em;
	font-weight: 700;
}

.temp__unit {
	font-size: 1.25em;
}

.current__feels-like {
	color: var(--clr-primary-light-100);
}

.current__location {
	display: flex;
	align-items: center;
	justify-content: center;
}

.current__location-name {
	margin: 0.5em 0;
}

.pin-icon {
	fill: var(--clr-primary-light-100);
	margin: 0 0.25em;
}

.current__date-wrapper {
	display: flex;
	align-items: center;
}

.current__date {
	color: var(--clr-primary-light-100);
}

.refresh-icon {
	margin-left: 0.25em;
	height: 100%;
	fill: var(--clr-primary-light-100);
	cursor: pointer;
	transition: fill 150ms ease-in-out;
}

.refresh-icon:hover {
	fill: white;
}

.current__second-desc {
	font-size: 0.8em;
	color: var(--clr-primary-light-100);
}

.current__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	list-style-type: none;
	margin: 1em 0;
	padding: 0em;
	gap: 0.5em;
}

.current__grid li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	background-color: var(--clr-primary);
	border-radius: 0.5em;
}

.row__title {
	color: var(--clr-primary-light-100);
}

.row__value {
	font-weight: 500;
	font-size: 1.2em;
}

.row__unit {
	color: var(--clr-primary-light-100);
}

.current__wind-direction {
	position: relative;
}

.wind-pointer {
	fill: var(--clr-accent);
	width: 2em;
	height: 2em;
	transition: transform 250ms ease-in-out;
}

.more-info {
	padding: 0.75em 2em;
	width: 100%;
	background-color: var(--clr-primary);
	border: 0;
	border-radius: 0.5em;
	color: white;
	font-family: var(--ff-primary);
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.more-info:hover {
	background-color: var(--clr-primary-light-400);
}

/* SECTION LAST SEARCHED */

.last-searched__list {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

.last-searched__item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-right: 1em;
	background-color: var(--clr-primary);
	border-radius: 0.5em;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.last-searched__item:hover {
	background-color: var(--clr-primary-light);
}

.last-searched__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.last-searched__city {
	font-size: 1.25em;
	font-weight: 500;
}

.last-searched__temp {
	font-size: 1.2em;
	font-weight: 700;
}

.last-searched__date {
	margin-top: 0.2em;
	font-size: 0.75em;
	color: var(--clr-primary-light-100);
}
